extends _partials/layout

block head
  title Gulp starter

block content
  - var current_page = "homepage"
  .page.page--homepage
    .app
      h1 Hey Gulp
      h2 current_page : #{current_page}

      p My first name is #{me.first_name}, 
        if me.city
          | I live in #{me.city}
        else
          | I'm homeless
      if letters
        h2 Spell my name
        p
          each val in letters
            | #{val}

      h2 For loop
      - for (i = 0; i < 5; i++)
        li i = #{i}
      
      h2 Mixin   
      +article("HOO HAH!")

block scripts
  script(src="js/app.js")
